<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header') %>
    <title>Edit Password</title>
</head>

<body>
 <%- include('./nav') %>
 <div>

    <form class="form-signin container" style="width: 60%;" method="POST">
    
      <h1 class="h3 mb-3 font-weight-normal">Add New Password</h1>
      <h3 class="h5 mb-2 font-weight-normal" style="color: red;">
      <%  if(msg !='')  %> <%=msg%>
      </h3>

      <select class="form-contol" name="Catname" >
          <option><%=data.Catname %></option>
      </select>

      <input type="text" name="Projectname" class="form-control" value="<%=data.Projectname%>" required autofocus>
      <input type="hidden" name="id" value="<%=data._id%>">
      <textarea name="ProjectDetails"> <%=data.ProjectDetails %> </textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">UPDATE</button>
      <a href='/viewPswd'>View All Password</a>
    </form>

    <script>
      CKEDITOR.replace( 'ProjectDetails' );
    </script>

  </div>
 
</body>
</html>