<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header') %>
    <title>View Password</title>
</head>

<body>
 <%- include('./nav') %>

 <div class="container table container m2"  style="margin-top: 10px; width: 80%;">
    <h2>View All Password List</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Password Catogery Name</th>
          <th scope="col">Project Name</th>
        
          <th scope="col"><i class="fa fa-eye" aria-hidden="true"></i></th> 
          <th scope="col"><i class="fa fa-pencil" aria-hidden="true"></i></th>
          <th scope="col"><i class="fa fa-trash-o" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>

        <% 
        data.map((data)=>{
        %>

        <tr>
          <td><%-data.Catname %></td>
          <td><%-data.Projectname %></td>
        
          <td scope="col">     
          <a type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal<%=data._id%>">
          <i class="fa fa-eye"  aria-hidden="false"></i>  </a> </td>

          <td scope="col"> <a href="/pswd/edit/<%= data._id %>"> <i class="fa fa-pencil" aria-hidden="false"></i>  </a></td>
          <td scope="col"><a href="/pswd/delete/<%= data._id %>"> <i class="fa fa-trash-o" aria-hidden="false"> </i> </a></td>

        </tr>

        <!-- Modal -->
            <div class="modal fade" id="myModal<%=data._id%>" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>
                  <div class="modal-body">
                    <%-data.ProjectDetails %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>


        <%})%>
      
      </tbody>
    </table>
  </div>

 
</body>

</html>